<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="./css/simplecss.css">
    <link rel="stylesheet" href="./css/index.css">
    <script src="/js/ajax.js"></script>
</head>
<body>
    <div class="homePage">
        <div class="container">
            <div id="login_1">
                <!--<div class="title">欢迎来到登录注册页面</div>-->
                <form action="">
                    <div class="content content_login">
                        <div class="row form-group btn-wrap">
                            <a href="/login.html"  class="btn btn-danger">登录</a>
                            <a href="/register.html"  class="btn btn-danger" >注册</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>